{% comment %}
    Renders breadcrumbs

    Accepts:
    - show_home: {Boolean} Show home as the first option. Default: false (optional)

    Usage:
    {% render 'breadcrumbs', show_home: section.settings.show_home %}
{% endcomment %}


{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
      {% if show_home %}<a href="/" title="Home">Home</a>{% endif %}
      {% if template contains 'page' %}
        <span aria-hidden="true">/</span>
        <span>{{ page.title }}</span>
      {% elsif template.name == 'product' %}
        <span aria-hidden="true">/</span>
        {% if product.vendor == "SeaVees Footwear" %}
          {% if product.metafields.seavees.gender == 'Mens' %}
            <a href="/mens">Mens Shoes</a><span aria-hidden="true"> / </span>
          {% elsif product.metafields.seavees.gender == 'Womens'%}
            <a href="/womens">Womens Shoes</a><span aria-hidden="true"> / </span>
          {% elsif product.metafields.seavees.gender == 'Little Kids' %}
            <a href="/little-kids">Little Kids</a><span aria-hidden="true"> / </span>
          {% elsif product.metafields.seavees.gender == 'Big Kids' %}
            <a href="/big-kids">Big Kids</a><span aria-hidden="true"> / </span>
          {% else %}
            <a href="/">All Shoes</a><span> /</span>
          {% endif %}
        {% endif %}
        <a href="/collections/{{ product.metafields.seavees.gender | downcase }}-{{ product.type | downcase }}">{{ product.type }}</a>
      {% elsif template contains 'collection' and collection.handle %}
        <span aria-hidden="true">/</span>
        {% if current_tags %}
          {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          {{ collection.title | link_to: url }}
          <span aria-hidden="true">/ Tagged</span>
          <span>'{{ current_tags | join: " + " }}'</span>
        {% else %}
          {% if collection.handle == "womens-sneakers" or collection.handle == "womens-slip-ons" or collection.handle == "womens-boots" or collection.handle == "womens-sandals-slippers" or collection.handle == "womens-casuals" or collection.handle == "womens-new-arrivals" or collection.handle == "womens-best-sellers" or collection.handle == "womens-platforms" %}
            <a href="/womens">Womens Shoes</a><span> / </span>
          {% elsif collection.handle == "mens-sneakers" or collection.handle == "mens-slip-ons" or collection.handle == "mens-boots" or collection.handle == "mens-sandals-slippers" or collection.handle == "mens-casuals" or collection.handle == "mens-new-arrivals" or collection.handle == "mens-best-sellers" %}
            <a href="/mens">Mens Shoes</a><span> / </span>
          {% endif %}
          <span>{{ collection.title }}</span> 
        {% endif %}
      {% elsif template == 'blog' %}
        <span aria-hidden="true">/</span>
        {% if current_tags %}
          {{ blog.title | link_to: blog.url }}
          <span aria-hidden="true">/</span>
          <span>{{ current_tags | join: " + " }}</span>
        {% else %}
        <span>{{ blog.title }}</span>
        {% endif %}
      {% elsif template == 'article' %}
        <span aria-hidden="true">/</span>
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">/</span>
        <span>{{ article.title }}</span>
      {% else %}
       <span aria-hidden="true">/</span>
       <span>{{ page_title }}</span>
      {% endif %}
    </nav>
  {% endunless %}