{% comment %}
    Renders grouped product card swatches

    Accepts:
    - card_product: {Object} Product Liquid object (required)

    Usage:
    {% render 'card-grouped-product-swatches', card_product: product, hide_sale_swatches: hide_sale_swatches%}
{% endcomment %}
{% if card_product.vendor == 'SeaVees Footwear' %}
  {% paginate collections.all-shoes.products by 1000 %}
    {% capture classic_list %}
        {% for related_product in collections.all-shoes.products %}
            {% unless related_product.metafields.seavees.is_on_sale == true and hide_sale_swatches == true %}
                {% if related_product.metafields.seavees.gender == card_product.metafields.seavees.gender and related_product.metafields.seavees.silhouette == card_product.metafields.seavees.silhouette %}
                    {% if related_product.metafields.seavees.product_group == 'Classic' or related_product.metafields.seavees.product_group == 'classic' %}
                        {% unless related_product.metafields.seavees.hide_product == true and related_product.handle != card_product.handle %}
                            {{ related_product.handle }}|{{ related_product.url }}|{{ related_product.metafields.seavees.swatch }}|{{ related_product.metafields.seavees.swatch_image }}|{{ related_product.metafields.seavees.color_name }}
                            ::
                        {% endunless %}
                    {% endif %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    {% endcapture %}
    {% assign classic_array = classic_list | split: '::' %}

    {% capture collection_list %}
        {% for related_product in collections.all-shoes.products %}
            {% unless related_product.metafields.seavees.is_on_sale == true and hide_sale_swatches == true %}
                {% if related_product.metafields.seavees.gender == card_product.metafields.seavees.gender and related_product.metafields.seavees.silhouette == card_product.metafields.seavees.silhouette %}
                    {% if related_product.metafields.seavees.product_group == 'Collection' or related_product.metafields.seavees.product_group == 'collection' %}
                        {% unless related_product.metafields.seavees.hide_product == true and related_product.handle != card_product.handle %}
                            {{ related_product.handle }}|{{ related_product.url }}|{{ related_product.metafields.seavees.swatch }}|{{ related_product.metafields.seavees.swatch_image }}|{{ related_product.metafields.seavees.color_name }}
                            ::
                        {% endunless %}
                    {% endif %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    {% endcapture %}
    {% assign collection_array = collection_list | split: '::' %}

    {% capture collaboration_list %}
        {% for related_product in collections.all-shoes.products %}
            {% unless related_product.metafields.seavees.is_on_sale == true and hide_sale_swatches == true %}
                {% if related_product.metafields.seavees.gender == card_product.metafields.seavees.gender and related_product.metafields.seavees.silhouette == card_product.metafields.seavees.silhouette %}
                    {% if related_product.metafields.seavees.product_group == 'Collaboration' or related_product.metafields.seavees.product_group == 'collaboration' %}
                        {% unless related_product.metafields.seavees.hide_product == true and related_product.handle != card_product.handle %}
                            {{ related_product.handle }}|{{ related_product.url }}|{{ related_product.metafields.seavees.swatch }}|{{ related_product.metafields.seavees.swatch_image }}|{{ related_product.metafields.seavees.color_name }}
                            ::
                        {% endunless %}
                    {% endif %}
                {% endif %}
            {% endunless %}
        {% endfor %}
    {% endcapture %}
    {% assign collaboration_array = collaboration_list | split: '::' %}

  {% endpaginate %}

  <product-swatch class="product-swatches">
  <div class="swiper product-swatch-swiper">
    <div class="swiper-wrapper">
      {% unless classic_array.size == 1 %}
        {% for related_product in classic_array %}
            {% unless forloop.last == true %}
                {% assign related_product_vals = related_product | split: '|' %}
                <div 
                  class="swiper-slide"
                  {% if first_card_product_url == related_product_vals[1] %}  {% endif %}
                >
                    <grouped-product-swatch-toggle
                        data-card-product-url = "{{ related_product_vals[1] }}"
                        class="product-swatch {{ card_product.url }} {{ related_product_vals[1] }} {% if first_card_product_url == related_product_vals[1] %}active{% endif %}"
                        {%- if related_product_vals[3] != blank -%}
                            style="background-image: url({{ related_product_vals[3] }}); background-size: cover;"
                        {%- elsif related_product_vals[2] != blank -%}
                            style="background-color: {{ related_product_vals[2] }}"
                        {%- else -%}
                            style="background-color: #f9f9f9; border-color: #e1e1e1;"
                        {%- endif -%}
                        data-var-handle='{{ handle }}'
                        data-related_product-handle='{{ related_product_vals[0] }}'
                        title="{{ related_product_vals[4] }}"
                        aria-label="View related color {{ related_product_vals[4] }}"
                    >
                    </grouped-product-swatch-toggle>
                </div>
            {% endunless %}
          {% assign first_card = false %}
        {% endfor %}
    {% endunless %}
    {% unless collection_array.size == 1 %}
        {% for related_product in collection_array %}
            {% unless forloop.last == true %}
                {% assign related_product_vals = related_product | split: '|' %}
                <div 
                  class="swiper-slide"
                  {% if first_card_product_url == related_product_vals[1] %}  {% endif %}
                >
                    <grouped-product-swatch-toggle
                        data-card-product-url = "{{ related_product_vals[1] }}"
                        class="product-swatch {{ card_product.url }} {{ related_product_vals[1] }} {% if first_card_product_url == related_product_vals[1] %}active{% endif %}"
                        {%- if related_product_vals[3] != blank -%}
                            style="background-image: url({{ related_product_vals[3] }}); background-size: cover;"
                        {%- elsif related_product_vals[2] != blank -%}
                            style="background-color: {{ related_product_vals[2] }}"
                        {%- else -%}
                            style="background-color: #f9f9f9; border-color: #e1e1e1;"
                        {%- endif -%}
                        data-var-handle='{{ handle }}'
                        data-related_product-handle='{{ related_product_vals[0] }}'
                        title="{{ related_product_vals[4] }}"
                        aria-label="View related color {{ related_product_vals[4] }}"
                    >
                    </grouped-product-swatch-toggle>
                </div>
            {% endunless %}
          {% assign first_card = false %}
        {% endfor %}
    {% endunless %}
    {% unless collaboration_array.size == 1 %}
        {% for related_product in collaboration_array %}
            {% unless forloop.last == true %}
            {% assign related_product_vals = related_product | split: '|' %}
              <div 
                class="swiper-slide"
                {% if first_card_product_url == related_product_vals[1] %}  {% endif %}
              >
                <grouped-product-swatch-toggle
                    data-card-product-url = "{{ related_product_vals[1] }}"                
                    class="product-swatch {{ card_product.url }} {{ related_product_vals[1] }} {% if first_card_product_url == related_product_vals[1] %}active{% endif %}"
                    {%- if related_product_vals[3] != blank -%}
                        style="background-image: url({{ related_product_vals[3] }}); background-size: cover;"
                    {%- elsif related_product_vals[2] != blank -%}
                        style="background-color: {{ related_product_vals[2] }}"
                    {%- else -%}
                        style="background-color: #f9f9f9; border-color: #e1e1e1;"
                    {%- endif -%}
                    data-var-handle='{{ handle }}'
                    data-related_product-handle='{{ related_product_vals[0] }}'
                    title="{{ related_product_vals[4] }}"
                    aria-label="View related color {{ related_product_vals[4] }}"
                >
                </grouped-product-swatch-toggle>
            </div>
            {% endunless %}
          {% assign first_card = false %}
        {% endfor %}
    {% endunless %}
    </div>
  </div>
  <div class="navigation-buttons">
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</product-swatch>      
  {% else %}
  <product-swatch class="product-swatches">
    {%- for tag in card_product.tags -%}
        {%- if tag contains 'related_' -%}
            {% assign handle = tag | split: 'related_' | last %}
            {% assign prod = all_products[handle] %}
                <div>
                    <grouped-product-swatch-toggle
                        data-card-product-url = "{{ related_product_vals[1] }}"                    
                        class="product-swatch {{ card_product.url }} {{ prod.url }} {% if card_product.url == prod.url %}active{% endif %}"
                        {%- if prod.metafields.seavees.swatch_image != blank -%}
                            style="background-image: url({{ prod.metafields.seavees.swatch_image }}); background-size: cover;"
                        {%- elsif prod.metafields.seavees.swatch != blank -%}
                            style="background-color: {{ prod.metafields.seavees.swatch }}"
                        {%- else -%}
                            style="background-color: #f9f9f9; border-color: #e1e1e1;"
                        {%- endif -%}
                        data-var-handle='{{ handle }}'
                        data-prod-handle='{{ card_product.handle }}'
                        title="{{prod.metafields.seavees.color_name}}"
                    >
                    </grouped-product-swatch-toggle>
                </div>
        {% endif %}
    {%- endfor -%}
</product-swatch>
{% endif %}