{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-slider.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'template-collection.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if section.settings.enable_quick_buy -%}
  <link rel="stylesheet" href="{{ 'quick-buy.css' | asset_url }}" media="print" onload="this.media='all'">
  <script src="{{ 'quick-buy.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
<noscript>{{ 'component-slider.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'template-collection.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
    assign products_to_display_1 = section.settings.collection_1.all_products_count
    assign products_to_display_2 = section.settings.collection_2.all_products_count

  if section.settings.collection_1.all_products_count > section.settings.products_to_show_1
    assign products_to_display_1 = section.settings.products_to_show_1
    assign more_in_collection_1 = true
  endif

  if section.settings.collection_2.all_products_count > section.settings.products_to_show_2
    assign products_to_display_2 = section.settings.products_to_show_2
    assign more_in_collection_2 = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if section.settings.swipe_on_mobile
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = false
  if section.settings.enable_desktop_slider
    assign show_desktop_slider = true
  endif
-%}

<div class="color-{{ section.settings.color_scheme }} isolate gradient">
  <div class="collection section-{{ section.id }}-padding featured-collection">
    <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
      {%- if section.settings.title != blank -%}
      <h2 class="title {{ section.settings.heading_size }}">{{ section.settings.title | escape }}</h2>
      {%- endif -%}
      {%- if section.settings.description != blank or section.settings.show_description and section.settings.collection.description != empty -%}
      <div class="collection__description {{ section.settings.description_style }}">{%- if section.settings.show_description -%}{{ section.settings.collection.description }}{%- else -%}{{ section.settings.description }}{% endif %}</div>
      {%- endif -%}
    </div>
      
    <div class="featured-collection-container tab-container">
      <input class="radio" type="radio" name="{{ section.settings.title | downcase | remove: " " }}" id="tab{{ section.settings.tab_id_1 }}" checked >
      <input class="radio" type="radio" name="{{ section.settings.title | downcase | remove: " " }}" id="tab{{ section.settings.tab_id_2 }}">

      <div class="tabs">
        <label class="tab" id="tab{{ section.settings.tab_id_1 }}-label" for="tab{{ section.settings.tab_id_1 }}">
          <h5>{{ section.settings.featured_collection_title_1 | escape }}</h5>
        </label>
        <label class="tab" id="tab{{ section.settings.tab_id_2 }}-label" for="tab{{ section.settings.tab_id_2 }}">
          <h5>{{ section.settings.featured_collection_title_2 | escape }}</h5>
        </label>
      </div>

      <div class="tab-content-container{% if section.settings.full_width %} collection--full-width{% endif %}{% comment %}{% if section.settings.narrow_on_desktop %} tab-content-container-narrow{% endif %}{% endcomment %}">
        <div id="tab{{ section.settings.tab_id_1 }}-content" class="tab-content">
          <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
            <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection_1 == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
              {%- for product in section.settings.collection_1.products limit: section.settings.products_to_show_1 -%}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_gender: section.settings.show_gender,
                  show_material: section.settings.show_material,
                  show_rating: section.settings.show_rating,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id,
                  show_condensed_title: section.settings.show_condensed_title,
                  %}
                </li>
              {%- else -%}
                {%- for i in (1..4) -%}
                  <li class="grid__item">
                    {% render 'card-product', show_vendor: section.settings.show_vendor %}
                  </li>
                {%- endfor -%}
              {%- endfor -%}
            </ul>

            {%- if show_mobile_slider or show_desktop_slider -%}
              <div class="slider-buttons no-js-hidden">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ products_to_display_1 }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </slider-component>

          {%- if section.settings.show_view_all and more_in_collection_1 -%}
            <div class="center collection__view-all">
              <a href="{{ section.settings.collection_1.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection_1.title }}"
              >
              {{ 'sections.featured_collection.view_all' | t }}
              </a>
            </div>
          {%- endif -%}
        </div>

        <div id="tab{{ section.settings.tab_id_2 }}-content" class="tab-content">
          <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}">
            <ul id="Slider-{{ section.id }}" class="grid product-grid contains-card{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection_2 == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}" role="list" aria-label="{{ 'sections.featured_collection.slider' | t }}">
              {%- for product in section.settings.collection_2.products limit: section.settings.products_to_show_2 -%}
                <li id="Slide-{{ section.id }}-{{ forloop.index }}" class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}">
                  {% render 'card-product',
                  card_product: product,
                  media_aspect_ratio: section.settings.image_ratio,
                  show_secondary_image: section.settings.show_secondary_image,
                  show_vendor: section.settings.show_vendor,
                  show_gender: section.settings.show_gender,
                  show_material: section.settings.show_material,
                  show_rating: section.settings.show_rating,
                  show_quick_add: section.settings.enable_quick_add,
                  section_id: section.id,
                  show_condensed_title: section.settings.show_condensed_title,
                  %}
                </li>
              {%- else -%}
                {%- for i in (1..4) -%}
                  <li class="grid__item">
                    {% render 'card-product', show_vendor: section.settings.show_vendor %}
                  </li>
                {%- endfor -%}
              {%- endfor -%}
            </ul>

            {%- if show_mobile_slider or show_desktop_slider -%}
              <div class="slider-buttons no-js-hidden">
                <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
                <div class="slider-counter caption">
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ products_to_display_2 }}</span>
                </div>
                <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}">{% render 'icon-caret' %}</button>
              </div>
            {%- endif -%}
          </slider-component>

          {%- if section.settings.show_view_all and more_in_collection_2 -%}
            <div class="center collection__view-all">
              <a href="{{ section.settings.collection_1.url }}"
              class="{% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
              aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection_2.title }}"
              >
              {{ 'sections.featured_collection.view_all' | t }}
              </a>
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Featured Collection Alt",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured collection",
      "label": "t:sections.featured-collection.settings.title.label"
    }, 
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection.settings.description.label"
    },
    {
      "type": "select",
      "id": "description_style",
      "label": "t:sections.featured-collection.settings.description_style.label",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection.settings.description_style.options__3.label"
        }
      ],
      "default": "body"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "default": true,
      "label": "t:sections.featured-collection.settings.show_view_all.label"
    },
    {
      "type": "select",
      "id": "view_all_style",
      "label": "t:sections.featured-collection.settings.view_all_style.label",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid"
    },
    {
      "type": "checkbox",
      "id": "enable_desktop_slider",
      "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
      "default": false
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
        "value": "accent-1",
        "label": "t:sections.all.colors.accent_1.label"
        },
        {
        "value": "accent-2",
        "label": "t:sections.all.colors.accent_2.label"
        },
        {
        "value": "background-1",
        "label": "t:sections.all.colors.background_1.label"
        },
        {
        "value": "background-2",
        "label": "t:sections.all.colors.background_2.label"
        },
        {
        "value": "inverse",
        "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info"
    },
    {
      "type": "header",
      "content": "Collection 1"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "Collection 1"
    },
    {
      "type": "text",
      "id": "tab_id_1",
      "default": "1",
      "label": "Tab ID #1",
      "info": "Select a number from 1-10: Must be unique from other Tab IDs on the same page in order for tabs to work correctly"
    },
    {
      "type": "text",
      "id": "featured_collection_title_1",
      "default": "Featured collection 1",
      "label": "Collection navigation label"
    },
    {
      "type": "range",
      "id": "products_to_show_1",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    },
    {
      "type": "header",
      "content": "Collection 2"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "Collection 2"
    },
    {
      "type": "text",
      "id": "tab_id_2",
      "default": "2",
      "label": "Tab ID #1",
      "info": "Select a number from 1-10: Must be unique from other Tab IDs on the same page in order for tabs to work correctly"
    },
    {
      "type": "text",
      "id": "featured_collection_title_2",
      "default": "Featured collection 2",
      "label": "Collection navigation label"
    },
    {
      "type": "range",
      "id": "products_to_show_2",
      "min": 2,
      "max": 12,
      "step": 1,
      "default": 4,
      "label": "Products to show"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_condensed_title",
      "default": false,
      "label": "Show condensed title"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_gender",
      "default": false,
      "label": "Show gender"
    },
    {
      "type": "checkbox",
      "id": "show_material",
      "default": false,
      "label": "Show material"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_rating.label",
      "info": "t:sections.featured-collection.settings.show_rating.info"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_add",
      "default": false,
      "label": "t:sections.featured-collection.settings.enable_quick_buy.label"
    },    
    {
      "type": "header",
      "content": "t:sections.featured-collection.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.margin_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Featured Collection Alt"
    }
  ]
}
{% endschema %}
