{{ 'section-page-menu.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="page-menu section-{{ section.id }}-padding">
    <ul class="page-width {% if section.settings.stack_on_mobile == true %} page-menu-stacked{% endif %}">
        {%- for block in section.blocks -%}
            <li {% if block.settings.link_url contains page.url or block.settings.link_url contains collection.url or block.settings.link_url contains product.url %} class="active"{% endif %}>
                <a href="{{ block.settings.link_url }}">{{ block.settings.link_text }}</a>
            </li>
        {%- endfor -%}
    </ul>
</div>

{% schema %}
{
  "name": "Page Menu",
  "settings": [
    {
      "type": "checkbox",
      "id": "stack_on_mobile",
      "default": false,
      "label": "Stack menu on mobile"
    },
    {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.margin_top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.margin_bottom",
        "default": 0
      }
  ],
  "blocks": [
    {
      "type": "page_menu_link",
      "name": "Page Menu Link",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Page Menu",
      "blocks": [
        {
          "type": "page_menu_link"
        }
      ]
    }
  ]
}
{% endschema %}
